{% extends "home/base.html" %}
{% load static %}
	<!-- Header Section end -->
	{% block content %}
	<section class="hero__section welcome">
		Fotos {{yearId}}
	</section>

	<section class="hero__section welcome dropdown">
		<form method="POST">
			{% csrf_token %}
			Seleccionar el Año:
			<select name = "yearId">
					<option value="2004" >2004</option>
					<option value="2005" >2005</option>
					<option value="2006" >2006</option>
					<option value="2007" >2007</option>
					<option value="2008" >2008</option>
					<option value="2009" >2009</option>
					<option value="2010" >2010</option>
					<option value="2010p" >Posada Kinder (15/12/10)</option>
					<option value="2011" >2011</option>
					<option value="2011n" >Concurso de Belleza (Nov/11)</option>
					<option value="2012" >2012</option>
					<option value="2013" >2013</option>
					<option value="2014n" >Noviembre 2014</option>
					<option value="otras" >Otras 2010 - 2012</option>
					<option value="2019" >2016</option>
					<option value="2019" >2017</option>
					<option value="2019" >2018</option>
					<option value="2019" >2019</option>
					<option value="2020" >2020</option>
					<option value="2021" >2021</option>
					<option value="2019" >2022</option>
					<option value="2019" >2023</option>
			</select>
			<input type="submit" class="submit" value="Ver Fotos" />
		</form>
	</section>

	<!-- About Page -->
	<div class="gallery__page">
		<div class="gallery__warp">
			<div class="row">

			{% for image in image_names %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					{% if 'jpg' in image or 'jpeg' in image or 'JPEG' in image or 'JPG' in image %}
						<a class="gallery__item fresco" href="{% static image %}" data-fresco-group="gallery">
							<img src="{% static image %}" alt="" loading="lazy">
							<figcaption>{{image|slice:"17:"}}</figcaption>
						</a>
					{% else %}
						<a class="gallery__item" href="">
							<video width='350' preload="none" controls>
								<source src='{% static image %}' type='video/mp4' loading="lazy">
								Your browser does not support the video tag.
							</video>
						</a>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<!-- About Page end -->
	{% endblock %}